@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}

body {
  margin: 0 auto !important;
  padding: 0 auto !important;
}

a {
  color: #2d6098;
}

@media (min-width: 768px) {
  img#logo-header {
    width: auto !important;
    height: 125px;
  }

  .only-mobile {
    display: none !important;
  }

  li.nav-item .dropdown-menu {
    border: 0px;
    margin: 0px auto;
    border-radius: 0%;
  }

  .only-desktop {
    display: block !important;
  }

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img.bd-placeholder-img {
  width: 250px; height: 250px;
}

.only-desktop {
  display: none;
}

img#logo-header {
  width: 100%;
}

header {
  border-bottom: 2px solid #999;
  z-index: 999;
  background-color: #fff;
}

#menu-area {
  background-color: #50575f;
}

li.nav-item .dropdown-menu {
  background-color: #69727c;
}

.nav>.nav-item a {
  color: #fff;
  font-weight: bold;
  outline-color: #50575f;
}

.nav>.nav-item a.dropdown-item {
  font-weight: normal;
}

.nav>.nav-item a.dropdown-item:hover {
  color: #222;
  background-color: #50575f;
}

main {
  margin-top: 1rem;
}

footer {
  margin: 2rem 0 0 0;
  padding: 2rem 0 2rem 0;
  background-color: #50575f;
  color: #fff;
  position: fixed;
  z-index: 998;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0 auto;
}

.review-post {
  border-bottom: 1px solid #999;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.review-content-cut {
  font-size: 1.2rem;
}

table.popular-rank tbody h4 { /* song */
  font-size: 1.2rem;
}

table.popular-rank tbody h5 { /* artist */
  font-size: 1rem;
}

table.popular-rank tbody th,
table.popular-rank tbody td a {
  color: #333;
  text-decoration: none;
}

table.popular-rank tbody td a:hover {
  color: #999 !important;
}

table.popular-rank tbody th[scope="row"] {
  vertical-align: middle;
}

table.popular-rank tbody tr:first-child th[scope="row"],
table.popular-rank tbody tr:first-child td a {
  font-weight: bold;
  color:#c71616;
}

.display-4 {
  font-size: 2.5rem;
  letter-spacing: -1px;
}

.board table tbody th,
.board table tbody td {
  font-size: 0.8rem;
}

.board table tbody th {
  text-align: center;
}

.board table thead th {
  text-align: center;
}

.nav-breadcrumb {
  line-height: 1.0;
}

main .breadcrumb a {
  font-size: 0.9rem;
}

a.mailto {
  color: #eee;
  text-decoration: underline;
  font-style: italic;
}